Client ID for Client Authentication using X509-SVID

In draft 00 of OAuth SPIFFE Client Authentication, when using Client Authentication with X509-SVID, it requires that the value of the `client_id` request parameter be the SPIFFE ID. However, I believe this requirement should be removed. The reasons are as follows:

* Systems that use the [OpenID Federation 1.0](https://openid.net/specs/openid-federation-1_0.html) specification cannot use OAuth SPIFFE Client Authentication.
* Systems that use the [OAuth Client ID Metadata Document](https://datatracker.ietf.org/doc/draft-ietf-oauth-client-id-metadata-document/) specification cannot use OAuth SPIFFE Client Authentication.
* Systems in which client IDs cannot be flexibly changed cannot use OAuth SPIFFE Client Authentication.

The client authentication method defined in RFC 8705 [Section 2.1](https://www.rfc-editor.org/rfc/rfc8705.html#section-2.1) works correctly even if the value of the `tls_client_auth_san_uri` client metadata differs from the client ID.
